<div class="layout-column">
  <div class="flex">
    Flex box
    {{#paper-button onClick=(route-action "test")}}Button with action{{/paper-button}}
  </div>
  <div class="flex">Flex box</div>
</div>

{{outlet}}
