
//
// Header

.header {
  padding: $space-default $space-default * 2;
  color: $text-color-default;
  border-bottom: $border-width-default $border-style-default darken($border-color-default, $color-offset-default);
  font-size: 1.2em;
  background: lighten($base-color, $color-offset-default);

  a {
    color: $text-color-default;

    &:hover {
      text-decoration: none;
    }
  }
}
