
<div class="ish-layout ish-layout-direction-column ish-layout-align-items-stretch">

  <div>
    <header class="header">
      <a href="/">{{t "application.title"}}</a>
    </header>
  </div>

  <div class="ish-layout ish-layout-direction-row application-content">

    {{#paper-button class="ish-layout-align-self-stretch"}}Button 1{{/paper-button}}
    {{#paper-button class="ish-layout-align-self-stretch"}}Button 2{{/paper-button}}

    <div>
      {{#paper-button}}Button 3{{/paper-button}}
      {{#paper-button}}Button 4{{/paper-button}}
      {{#paper-button}}Button 5{{/paper-button}}
      {{outlet}}
    </div>

  </div>

  <div>
    <footer class="footer">
      Initialize ...
    </footer>
  </div>
  
</div>
