
<div class="ish-layout ish-layout-direction-column ish-layout-align-items-stretch">

  <header class="header">
    <a href="/">{{t "application.title"}}</a>
  </header>

  <div class="ish-layout ish-layout-direction-row ish-layout-align-items-stretch application-content">

    {{nav-sidebar servers=model.servers}}

    <div class="navigation-outlet">
      {{outlet}}
    </div>

  </div>
  
  <footer class="footer">
    {{lastAction}}
  </footer>

</div>
