
<div class="_ish-layout-debug ish-layout ish-layout-direction-column ish-layout-align-items-stretch">

  <div>
    <nav class="navbar navbar-dark bg-inverse">
      {{#link-to "photos.edit" photo}}Working Application{{/link-to}}
    </nav>
  </div>

  <div class="ish-layout ish-layout-direction-row">

    <div class="alert alert-success" role="alert">
      {{#paper-button class="ish-layout-align-self-stretch"}}Button 1{{/paper-button}}
      {{#paper-button class="ish-layout-align-self-stretch"}}Button 2{{/paper-button}}
    </div>

    <div>
      {{#paper-button}}Button 3{{/paper-button}}
      {{#paper-button}}Button 4{{/paper-button}}
      {{#paper-button}}Button 5{{/paper-button}}

      {{outlet}}

    </div>

  </div>

  <div>
    {{#paper-button}}Button 6{{/paper-button}}
  </div>

</div>
